<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Equipo - BrailleX</title>
    <link
      rel="stylesheet"
      href="/Version1/implementation/templates/css/misestilo.css"
    />
  </head>

  <body>
    <div class="header">
      <div class="logo">
        <img
          src="/Version1/implementation/images/logo-proyecto.png"
          alt="Dev-Sentinels Logo"
        />
        <p>Dev-Sentinels</p>
      </div>
      <div class="info">
        <div class="Conocenos">
          <div class="ConocenosTitulo">Conócenos</div>
          <div class="ConocenosOpciones">
            <a href="MisionVision.html">Misión y Visión</a>
            <a href="index.html">Inicio</a>
          </div>
        </div>
        <img
          src="/Version1/implementation/images/info-icon.png"
          alt="icono de información"
        />
      </div>
    </div>
    <div class="Titulo">Nuestro Equipo</div>
    <div class="container">
      <div class="content">
        <div class="team-container">
          <div class="team-member">
            <img
              src="/Version1/implementation/images/Xavicom.jpeg"
              alt="Foto de Juan Pérez"
            />
            <h3>Xavier Carpio</h3>
            <p>Analista de Requisitos</p>
            <p>
              ransformamos las visiones del cliente en especificaciones claras y
              concisas para guiar el desarrollo de nuestros proyectos.
            </p>
          </div>
          <div class="team-member">
            <img
              src="/Version1/implementation/images/Shander.jpeg"
              alt="Foto de María López"
            />
            <h3>Shander Gonzales</h3>
            <p>Desarrollador</p>
            <p>
              Convertimos ideas en aplicaciones funcionales y atractivas
              mediante una combinación de experiencia técnica y creatividad.
            </p>
          </div>
          <div class="team-member">
            <img
              src="/Version1/implementation/images/Mateo.jpeg"
              alt="Foto de Carlos Rodríguez"
            />
            <h3>Mateo Espinoza</h3>
            <p>Desarrollador</p>
            <p>
              Aportamos nuestra experiencia para crear soluciones robustas y
              escalables que satisfacen las necesidades cambiantes de nuestros
              clientes.
            </p>
          </div>
          <div class="team-member">
            <img
              src="/Version1/implementation/images/Kelly.jpeg"
              alt="Foto deKelly Sangoluisa"
            />
            <h3>Kelly Sangoluisa</h3>
            <p>Gerente de Proyecto</p>
            <p>
              Aseguramos la calidad de nuestros productos a través de pruebas
              rigurosas y análisis exhaustivos.
            </p>
          </div>
          <div class="team-member">
            <img
              src="/Version1/implementation/images/Joss.jpeg"
              alt="Foto de Ana Gómez"
            />
            <h3>Joselyn Pilco</h3>
            <p>Especialista en Accesibilidad</p>
            <p>
              Complementamos las pruebas del primer equipo para garantizar una
              cobertura completa y mejorar la experiencia del usuario.
            </p>
          </div>
        </div>
      </div>
    </div>
    <button class="backButton" onclick="location.href='index.html'">
      Regresar a la página inicial
    </button>
  </body>
</html>
