<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Traductor Español - Braille</title>
  <link rel="stylesheet" href="../../templates/css/estilosPrincipal.css" />
  <link rel="stylesheet" href="../../templates/css/estilosModoOscuro.css"/>
  <style>
    .hidden {
      display: none;
    }
  </style>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.5.1/jspdf.umd.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/0.4.1/html2canvas.min.js"></script>
</head>

<body>
  <header class="header">
    <div class="logo">
      <img src="../../images/logo-proyecto.png" alt="Dev-Sentinels Logo" />
      <p>Dev-Sentinels</p>
    </div>
    <div class="info">
      <div class="Conocenos">
        <button class="ConocenosTitulo">Conócenos</button>
        <div class="ConocenosOpciones">
          <a href="MisionVision.html" aria-label="Leer más sobre nuestra misión y visión">Misión y
            Visión</a>
          <a href="Equipo.html" aria-label="Conoce a nuestro equipo">Equipo</a>
        </div>
      </div>
      <img src="../../images/info-icon.png" alt="icono de informacion" />
    </div>
  </header>
  <main>
    <h1 class="Titulo">BrailleX</h1>
    <div class="container">
      <div class="sidebar">
        <h3>Traductor</h3>
        <ul>
          <li>
            <img src="../../images/search-icon.png" alt="icono de buscar" />
            <a href="index.html" aria-label="Traducir Español a Braille">Español - Braille</a>
          </li>
          <li>
            <img src="../../images/search-icon.png" alt="icono de buscar" />
            <a href="brailleEs.html" aria-label="Traducir Braille a Español">Braille - Español</a>
          </li>
        </ul>
      </div>

      <div class="content">
        <p id="traduce">Traduce un texto de Español a Braille</p>
        <p class="warningCaracteres hidden" id="warningCaracteres">
          * Texto inválido: no se permiten caracteres especiales
        </p>
        <div class="botonesEntradaTexto">
          <button id="BotonVoz" aria-label="Habla algo...">
            <img src="../../images/voice-icon.png" alt="boton de hablar" />
          </button>

          <button id="limpiarBoton" type="reset" onclick="p()" aria-label="Limpiar Entrada de Texto">
            <img src="../../images/clear-icon.png" alt="boton de limpiar texto" />
          </button>
        </div>
        <!-- <input class="entradaTexto" type="text" placeholder="Escribe texto en español">-->
        <textarea name="entradaTexto" class="entradaTexto" placeholder="Escribe texto en español"
          id="entradaTexto"></textarea>

        <button id="traducirBoton" class="botonTraducir" aria-label="Traducir Español a Braille">Traducir</button>

        <div class="respuesta"></div>
        <div class="divImpresion">
          <input type="checkbox" id="mirror" name="mirror" />
          <p>Impresión en espejo</p>
        </div>
        <div class="botonesDescargar">
          <button class="botonDescargarPNG" id="descargarPNG" aria-label="Descargar traduccion en PNG">Descargar en
            PNG</button>
          <button class="botonDescargarPDF" id="descargarPDF" aria-label="Descargar contenido en PDF">Descargar en
            PDF</button>
        </div>
      </div>
    </div>
  </main>
  <div class="dark-mode-toggle-container">
    <label class="switch">
      <input type="checkbox" id="darkModeToggle">
      <span class="slider round"></span>
    </label>
  </div>

  <!--SCRIPTS-->
  <script src="../../app/services/validate.js" type="module"></script>
  <script src="../../app/utilities/limpiar.js"></script>
  <script type="module" src="../../app/utilities/scripts.js"></script>
  <script type="module" src="../../app/utilities/toggleDarkMode.js"></script>
</body>

</html>